<!DOCTYPE html>
<html lang="en">

<head>

  <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet" />
  <%= favicon_link_tag 'weather1.png' %>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>&lt;/WoC&gt;</title>
  <meta name="description" content="A useful bot to check the weather of locations inside Discord without the use of any annoying websites infiltrated with ads!" />
  <meta name="keywords" content="Weather,time,location,temp" />
  <meta property="og:title" content="Weather Bot" />
  <meta property="og:url" content="http://world-of-coding.glitch.me/" />
  <meta property="og:description" content="A useful bot to check the weather of locations inside Discord without the use of any annoying websites infiltrated with ads!" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Weather Bot" />
  <meta property="og:image" content="https://woc-websitev2.nick20201.repl.co/public/images/weather1.png" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DBDCZFWXT6' );
      gtag('config', 'G-LKF1DVXV56' );
  </script>

  <%= stylesheet_link_tag 'weathertos.css' %>
  <%= javascript_include_tag "weathertos.js", defer: true %>
</head>



<body>
<div class="bodymain">
  <%= render "home/header" %>
  <br>
  <br>
  <br>
  <br>



  <h1>Website Terms and Conditions of Use</h1>

  <h2>1. Terms</h2>

  <p>By accessing this Website, accessible from https://world-of-coding.tech/weather-tos, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

  <h2>2. Use License</h2>

  <p>Permission is granted to temporarily download one copy of the materials on World of Coding | Weather bot's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

  <ul>
    <li>being removed from World of Coding Discord or partner discords;</li>
    <li>breaking discord tos.</li>
    <li>modify or copy the materials;</li>
    <li>use the materials for any commercial purpose or for any public display;</li>
    <li>attempt to reverse engineer any software contained on World of Coding | Weather bot's Website;</li>
    <li>remove any copyright or other proprietary notations from the materials; or</li>
    <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
  </ul>

  <p>This will let World of Coding | Weather bot to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format. These Terms of Service has been created with the help of the <a href="https://www.termsofservicegenerator.net">Terms Of Service Generator</a>.</p>

  <h2>3. Disclaimer</h2>

  <p>All the materials on World of Coding | Weather bot’s Website are provided "as is". World of Coding | Weather bot makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, World of Coding | Weather bot does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

  <h2>4. Limitations</h2>

  <p>World of Coding | Weather bot or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on World of Coding | Weather bot’s Website, even if World of Coding | Weather bot or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

  <h2>5. Revisions and Errata</h2>

  <p>The materials appearing on World of Coding | Weather bot’s Website may include technical, typographical, or photographic errors. World of Coding | Weather bot will not promise that any of the materials in this Website are accurate, complete, or current. World of Coding | Weather bot may change the materials contained on its Website at any time without notice. World of Coding | Weather bot does not make any commitment to update the materials.</p>

  <h2>6. Links</h2>

  <p>World of Coding | Weather bot has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by World of Coding | Weather bot of the site. The use of any linked website is at the user’s own risk.</p>

  <h2>7. Site Terms of Use Modifications</h2>

  <p>World of Coding | Weather bot may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

  <h2>8. Your Privacy</h2>

  <p>Please read our Privacy Policy.</p>

  <h2>9. Governing Law</h2>

  <p>Any claim related to World of Coding | Weather bot's Website shall be governed by the laws of us without regards to its conflict of law provisions.</p>
<h1>Contact Us</h1>
<p>If you have any questions about this Terms of Service, You can contact us:</p>
<ul>
  <li>By Discord: Discord: Nick2020#4710</li>
</ul>
</div>

<%= render "home/footer" %>
</body>

</html>